{% extends 'shared/base.html' %}

{% block content %}
<div class="col-md-2">
    <div class="card shadow-sm header-card header-navy mb-4">
        <div class="card-body py-2 px-3">
            <h2 class="mb-0 fs-5">All Companies</h2>
        </div>
    </div>
</div>


<!-- 🔎 Search Form -->
<form method="get" class="mb-3 d-flex">
    <input
        type="text"
        name="q"
        class="form-control me-2"
        placeholder="Search by Company Name"
        value="{{ request.GET.q|default:'' }}"
    >
    <button class="btn btn-primary me-2">Search</button>
    <a href="{% url 'company_list' %}" class="btn btn-success">Reset</a>
</form>

<a href="{% url 'company_create' %}" class="btn btn-primary mb-3">Register Company</a>

<div class="row">
    {% for company in companies %}
    <div class="col-md-6 mb-4 "> <!-- Half-width cards -->
        <div class="card shadow-sm border-0 company-card" onclick="window.location='{% url 'company_detail' company.pk %}'">
            <div class="card-body d-flex justify-content-between align-items-start ">

                <!-- Company Info -->
                <div>
                    <h5 class="card-title fw-bold text-navy"> <i class="bi bi-buildings"></i> {{ company.name }}</h5>
                    <p> <strong>Email</strong>: {{ company.email }}</p>
                    <span class="badge bg-primary mb-2"> <i class="bi bi-telephone-inbound"></i> {{ company.phone }} </span>
                </div>


                <!-- Edit/Delete Icons -->
                <div class="d-flex flex-column ms-3">
                    <a href="{% url 'company_update' company.pk %}" class="btn btn-sm btn-secondary mb-2" title="Edit" onclick="event.stopPropagation();">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <a href="{% url 'company_delete' company.pk %}" class="btn btn-sm btn-danger" title="Delete" onclick="event.stopPropagation();">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>

    {% empty %}

    <h4 class="text-navy"> No companies found </h4>

    {% endfor %}

    {% include "shared/_pagination.html" with page_param="page" search_query=request.GET.q theme="navy" %}

</div>

{% endblock %}
